.cms-reviva .page-wrapper .breadcrumbs
{
    display: none;
}
.cms-reviva .page-wrapper main#maincontent
{
	max-width: unset;
	padding: 0px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva-sec
{
	height: 150px;
    width: 100%;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva-sec .reviva.center-content
{
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text 
{
	background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 60%, rgba(255,255,255,1) 60%);
    height: 927px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap
{
	background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container
{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .first-img
{
	margin: 35px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .sec-img
{
	margin-top: 25px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container p.text-center
{
	font-size: 18px;
    margin: 35px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    max-width: 60%;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall
{
	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall .btn
{
	padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall  .btn a.cx-button
{
	color: #444;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border-width: 2px;
    line-height: 1.0;
    width: 100%;
    display: block;
    margin: 6px 0;
    border: 2px solid #444;
    border-radius: 0;
    cursor: pointer;
    font-family: proxima_nova_extrabold;
    font-weight: 700;
}

.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall  .btn a.cx-button:hover
{
	color: #fff ! important;
    background-color: #444 ! important;
    border-color: #444;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center
{
	background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 85%, rgba(255,255,255,1) 60%);
    height: 1300px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.mobile-img
{
	display: none;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-mobile-image
{
	display: none;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap
{
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
{
	display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
h2.text-center.second-text-center
{
	margin: 55px auto;
    font-size: 34px;
    color: #00497f;
    line-height: 34px;
    font-weight: 700;
   font-family: proxima_nova_extrabold;
    
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
h2.text-center.second-text-center br.hidden-sm.hidden-md.hidden-lg.hidden-xl
{
	display: none;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
p.copy-text
{
	margin: 55px;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    max-width: 42%;
    font-weight: 400;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec
{
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 960px;
    margin-bottom: 42px;
}

.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product_text h4.product-sub-text
{
	font-size: 1.25em;
    line-height: 22px;
    color: #444;
    font-weight: 700;
    font-family: proxima_nova_extrabold;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product
{
	margin-top: 100px;
    height: 81px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.mob
{
	display: none;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.mob
{
	display: none;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product
{
	margin-top: 100px;
    height: auto;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.desk
	{
		display: inline-block;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.desk
	{
		display:inline-block;
	}

.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a p.product_description
{
	font-size: 16px;
    font-family: proxima_nova_regular;
    font-weight: 400;
    color: #444;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a p.product_description
{
	font-size: 16px;
    font-family: proxima_nova_regular;
    font-weight: 400;
    color: #444;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text
{
	background: radial-gradient(circle, rgba(183,234,244,1) 0%, rgba(98,205,227,1) 75%);
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap
{
	margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap h2.text-center.fourth-text-center
{
	margin: 55px auto 30px;
    font-size: 34px;
    font-weight: 700;
    color: #00497f;
    line-height: 34px;
    font-family: proxima_nova_extrabold;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap h2.text-center.fourth-text-center
 img.image
 {
 	position: relative;
    left: 5px;
 }
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container
{
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 960px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .center-content
{
	    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .center-content img.image-resp
{
	width: 90%;
    margin-bottom: 80px;
    
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image
{
	margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image
 p.copy-text.text-center
 {
 	margin: 15px auto 25px;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    font-weight: 400;
    max-width: 88%;
 }
 .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont
 {
 	position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
 }
 .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont:before 
 {
    display: block;
    content: "";
    padding-top: 56.25%;
}
.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont iframe.vid1
{
	padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
 .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox
 {
 	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 }
 .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn
 {
 	padding-left: 5px;
    padding-right: 5px;
 }
  .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn a.cx-button
  {
  	color: #444;
    background-color: #fff;
    border-color: #444;
    text-align: center;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border-width: 2px;
    line-height: 1.0;
    width: 100%;
    display: block;
    border: 2px solid #444;
    border-radius: 0;
    margin: 6px 0;
   font-family: proxima_nova_extrabold;
  }
  .cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn a.cx-button:hover
  {
  	color: #fff ! important;
    background-color: #444 ! important;
    border-color: #444;
  }
  /*.aboveFooter 
  {
  	font-size: 12px;
    line-height: 15px;
    color: #444;
  }
 .aboveFooter div#free
 {
 	width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 10px 0 20px 0;
 }
 .aboveFooter div#free .quality
 {
 	text-align: center;
    width: 100%;
    margin: 10px 0 20px;
    color: #666;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: proxima_nova_regular;
 }
 .aboveFooter div#free .quality p.quality-text
 {
 	font-weight: bold;
    color: #707070;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-family: proxima_nova_extrabold;
 }
 .aboveFooter div#free  .assurance
 {
 	width: 25%;
    float: left;
    color: #8E8E8E;
    font-size: 14px;
    text-align: center;
    margin-right: -1px;
    padding: 10px;
 }
 .aboveFooter div#free  .assurance h6
 {
 	line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #2a7ab0;
    margin: 0px;
    font-family: proxima_nova_regular;
 }

.aboveFooter div#free hr.mobile_hr
{
	display: none;
}
.aboveFooter div#free  .assurance p.assuranceContainer
{
	margin: 10px;
}
.aboveFooter div#free  .assurance p.assuranceContainer span.assuranceContainer-noProblemText
{
	width: 110%;
    float: left;
    color: #8E8E8E;
    font-size: 14px;
    text-align: center;
    margin-right: -1px;
    padding: 10px;
}
.aboveFooter div#free hr
{
	margin-bottom: 10px;
}
.aboveFooter div#free .riskFreeContainer-divider
{
	float: left;
    height: 95px;
    border-left: 1px solid #ccc;
}
.aboveFooter div#free  .assuranceContainer-last
{
	border: none;
    margin-top: 20px;
    width: 25%;
    float: left;
    color: #8E8E8E;
    font-size: 14px;
    text-align: center;
    margin-right: -1px;
    padding: 10px;
}
*/
@media screen and (max-width: 768px)
{
	body.cms-reviva .page-wrapper header.page-header.type11
	{
		margin-bottom: 0px;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva-sec
	{
		height: 135px;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center
	{
		height: auto;
    background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 50%, rgba(255,255,255,1) 50%);
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container img.first-img
	{
	    width: 85%;
    	margin: 16px;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container img.sec-img
	{
		width: 90%;
		margin-top: 0px;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container p.text-center
	{
		margin: 3.5vw;
    	max-width: 100%;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container .btn-overall
	{
		margin-bottom: 48px;
    	padding: 0px 15px;
	}
	body.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container .btn-overall .btn
	{
		width: 100%;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
	h2.text-center.second-text-center br.hidden-sm.hidden-md.hidden-lg.hidden-xl
	{
		display: block;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.desktop-img
	{
		display: none;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.mobile-img
	{
		display: block;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center
	{
		background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 90%, rgba(255,255,255,1) 90%);
    height: auto;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second
	h2.text-center.second-text-center
	{
		margin: 42px;
	    font-size: 32px;
	    line-height: 32px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second p.copy-text
	{
		margin: 42px;
    	max-width: 100%;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-desktop-image
	{
		display: none;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-mobile-image
	{
		display: block;
		width: 87%;
    	margin-bottom: 42px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec
	{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details
	{
		padding: 0px;
    	margin-bottom: 32px;
	}
	/*.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left
	.product_text h4.product-sub-text
	{
		line-height: 5vw;
	}*/
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product
	{
		margin-top: 48px;
		height: 100px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.mob
	{
		display: inline-block;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.mob
	{
		display: inline-block;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.desk
	{
		display: none;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.desk
	{
		display: none;
	}
	/*.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left #product-reviva a img.rev-pro
	{
		height: auto ! important;
	}
*/
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product_text.product h4.product-sub-text
	{
		height: 21vw;
	    font-size: 4.5vw;
	    margin-bottom: 0;
	    line-height: 5vw;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a p.product_description.cx-brand-font.text-center
	{
		margin-bottom: 0px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a p.product_description.cx-brand-font.text-center
	{
		margin-bottom: 0px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product
	{
		margin-top: 48px;
		height: 100px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap h2.text-center.fourth-text-center
	{
		margin: 0px;
    	margin-top: 50px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap .crocs_container
	{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .center-content img.image-resp
	{
		width: 85%;
    	margin: 32px auto 24px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image
	{
		padding: 0px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image .video-cont iframe.vid1
	{
		padding: 10px 0px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image p.copy-text.text-center
	{
		max-width: 100%;
	}
	/*.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free
	{
		width: 100%;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free .assurance 
	{
		width: 100%;
		padding: 10px 0px;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free .assuranceContainer
	{
		width: 100%;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free hr
	{
		margin: 0 auto;
	    width: 95%;
	    border-top: 1px solid #ccc;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free hr.mobile_hr
	{
		display: block;
	    width: 95%;
	    margin: 0 auto;
	    border-color: #ccc;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free .riskFreeContainer-divider
	{
		display: none;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free .assurance p.assuranceContainer span.assuranceContainer-noProblemText
	{
		width: 100%;
	}
	.cms-reviva .page-wrapper main#maincontent .columns .column.main .aboveFooter div#free .assurance p.assuranceContainer
	{
		margin: 5px;
	}*/
}

/*for all page*/
body.page-products.catalog-category-view .page-wrapper .breadcrumbs
{
    display: none;
}
body.categorypath-reviva-brand.category-reviva-brand .page-wrapper main#maincontent
{
    max-width: unset;
    padding: 0px;
}
body.categorypath-reviva-brand.category-reviva-brand .page-wrapper main#maincontent .columns
 {
    display: none;
}
body.page-products.catalog-category-view  main#maincontent .category-view .category-cms .reviva-main section.reviva-sec
{
    height: 150px;
    width: 100%;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva-sec .reviva.center-content
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text 
{
    background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 60%, rgba(255,255,255,1) 60%);
    height: 927px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap
{
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .first-img
{
    margin: 35px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .sec-img
{
    margin-top: 25px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container p.text-center
{
    font-size: 18px;
    margin: 35px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    max-width: 60%;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall .btn
{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall  .btn a.cx-button
{
    color: #444;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border-width: 2px;
    line-height: 1.0;
    width: 100%;
    display: block;
    margin: 6px 0;
    border: 2px solid #444;
    border-radius: 0;
    cursor: pointer;
    font-family: proxima_nova_extrabold;
    font-weight: 700;
}

body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text  .image-wrap .croc_container .btn-overall  .btn a.cx-button:hover
{
    color: #fff ! important;
    background-color: #444 ! important;
    border-color: #444;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center
{
    background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 85%, rgba(255,255,255,1) 60%);
    height: 1300px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.mobile-img
{
    display: none;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-mobile-image
{
    display: none;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
h2.text-center.second-text-center
{
    margin: 55px auto;
    font-size: 34px;
    color: #00497f;
    line-height: 34px;
    font-weight: 700;
   font-family: proxima_nova_extrabold;
    
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
h2.text-center.second-text-center br.hidden-sm.hidden-md.hidden-lg.hidden-xl
{
    display: none;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
p.copy-text
{
    margin: 55px;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    max-width: 42%;
    font-weight: 400;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 960px;
    margin-bottom: 42px;
}

body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product_text h4.product-sub-text
{
    font-size: 1.25em;
    line-height: 22px;
    color: #444;
    font-weight: 700;
    font-family: proxima_nova_extrabold;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product
{
    margin-top: 100px;
    height: 81px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.mob
{
    display: none;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.mob
{
    display: none;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product
{
    margin-top: 100px;
    height: auto;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.desk
    {
        display: inline-block;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.desk
    {
        display:inline-block;
    }

body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a p.product_description
{
    font-size: 16px;
    font-family: proxima_nova_regular;
    font-weight: 400;
    color: #444;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a p.product_description
{
    font-size: 16px;
    font-family: proxima_nova_regular;
    font-weight: 400;
    color: #444;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text
{
    background: radial-gradient(circle, rgba(183,234,244,1) 0%, rgba(98,205,227,1) 75%);
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap
{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap h2.text-center.fourth-text-center
{
    margin: 55px auto 30px;
    font-size: 34px;
    font-weight: 700;
    color: #00497f;
    line-height: 34px;
    font-family: proxima_nova_extrabold;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap h2.text-center.fourth-text-center
 img.image
 {
    position: relative;
    left: 5px;
 }
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 960px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .center-content
{
        display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .center-content img.image-resp
{
    width: 90%;
    margin-bottom: 80px;
    
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image
{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image
 p.copy-text.text-center
 {
    margin: 15px auto 25px;
    font-size: 18px;
    line-height: 20px;
    color: #444;
    font-family: proxima_nova_regular;
    font-weight: 400;
    max-width: 88%;
 }
 body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont
 {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
 }
 body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont:before 
 {
    display: block;
    content: "";
    padding-top: 56.25%;
}
body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .video-cont iframe.vid1
{
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
 body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox
 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
 }
 body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn
 {
    padding-left: 5px;
    padding-right: 5px;
 }
  body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn a.cx-button
  {
    color: #444;
    background-color: #fff;
    border-color: #444;
    text-align: center;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border-width: 2px;
    line-height: 1.0;
    width: 100%;
    display: block;
    border: 2px solid #444;
    border-radius: 0;
    margin: 6px 0;
   font-family: proxima_nova_extrabold;
  }
  body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text .image-wrap .crocs_container .video-image .btn-overall.text-center.flexbox .btn a.cx-button:hover
  {
    color: #fff ! important;
    background-color: #444 ! important;
    border-color: #444;
  }
  
@media screen and (max-width: 768px)
{
    body.cms-reviva .page-wrapper header.page-header.type11
    {
        margin-bottom: 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva-sec
    {
        height: 135px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center
    {
        height: auto;
    background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 50%, rgba(255,255,255,1) 50%);
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container img.first-img
    {
        width: 85%;
        margin: 16px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container img.sec-img
    {
        width: 90%;
        margin-top: 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container p.text-center
    {
        margin: 3.5vw;
        max-width: 100%;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container .btn-overall
    {
        margin-bottom: 48px;
        padding: 0px 15px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.reviva.first-text.text-center .image-wrap .croc_container .btn-overall .btn
    {
        width: 100%;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
    h2.text-center.second-text-center br.hidden-sm.hidden-md.hidden-lg.hidden-xl
    {
        display: block;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.desktop-img
    {
        display: none;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.mobile-img
    {
        display: block;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center
    {
        background: linear-gradient(180deg, rgba(92,203,226,1) 0%, rgba(155,224,238,1) 16%, rgba(151,223,237,1) 29%, rgba(53,181,208,1) 90%, rgba(255,255,255,1) 90%);
    height: auto;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second
    h2.text-center.second-text-center
    {
        margin: 42px;
        font-size: 32px;
        line-height: 32px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second p.copy-text
    {
        margin: 42px;
        max-width: 100%;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-desktop-image
    {
        display: none;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.second-text.text-center .image-wrap .croc_container.second a img.copy-mobile-image
    {
        display: block;
        width: 87%;
        margin-bottom: 42px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details
    {
        padding: 0px;
        margin-bottom: 32px;
    }
    /*body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left
    .product_text h4.product-sub-text
    {
        line-height: 5vw;
    }*/
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product
    {
        margin-top: 48px;
        height: 100px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.mob
    {
        display: inline-block;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.mob
    {
        display: inline-block;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a img.desk
    {
        display: none;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a img.desk
    {
        display: none;
    }
    /*body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left #product-reviva a img.rev-pro
    {
        height: auto ! important;
    }
*/
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product_text.product h4.product-sub-text
    {
        height: 21vw;
        font-size: 4.5vw;
        margin-bottom: 0;
        line-height: 5vw;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-left .product a p.product_description.cx-brand-font.text-center
    {
        margin-bottom: 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product a p.product_description.cx-brand-font.text-center
    {
        margin-bottom: 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.third-text.text-center .product-sec .product_details .col-right .product
    {
        margin-top: 48px;
        height: 100px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap h2.text-center.fourth-text-center
    {
        margin: 0px;
        margin-top: 50px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap .crocs_container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .center-content img.image-resp
    {
        width: 85%;
        margin: 32px auto 24px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image
    {
        padding: 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image .video-cont iframe.vid1
    {
        padding: 10px 0px;
    }
    body.page-products.catalog-category-view .page-wrapper main#maincontent .category-view .category-cms .reviva-main section.fourth-text.text-center .image-wrap .crocs_container .video-image p.copy-text.text-center
    {
        max-width: 100%;
    }
    
}