<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="yosto_arp" frontName="yosto_arp">
            <module name="Yosto_Arp" before="Magento_Backend" />
        </route>
    </router>
</config>
