
.discount h2 {
    background-image :none;
    background-repeat: no-repeat;
    color: #e26703;
    font: bold 13px/16px Arial,Helvetica,sans-serif;
    padding: 0;
    text-transform: uppercase;
}

.wk_applied_coupon dt {
    font-weight: bold;
    margin: 5px 0;
}
.wk_applied_coupon {
    border-top: 1px dashed #4f4f4f;
    margin-top: 10px;
}
.coupon_entry_field {
    display: none;
    margin-bottom: 5px;
}
.coupon_container{
    margin-bottom: 10px;
}

.applied-coupon-block{
    width:100%;
    margin:10px 0;
}